<form action="" method="post">


  <% for(var i=0; i<motifs.length; i++){ %>
  <input type="radio" name="n_motif" value=<%= motifs[i].n_motif %> id=<%= motifs[i].n_motif %> />
  <p><%= motifs[i].n_motif %>  <%= motifs[i].libelle_motif %></p>
  <% } %>

  <input type="radio" name="n_motif" value="-1" id="-1" /> <p> Nouveau motif </p>

  <input type="submit" value="Envoyer" />

</form>
