<html>
    <head>
      <title>Choix d'une affaire</title>
      <link rel="stylesheet" href="../css/menu.css">
      <link rel="stylesheet" href="../css/style.css">
    </head>
    <header>
        <nav>
            <ul id="menu">
                <li><a href="/incarcerer">Incarcérer un prisonnier</a></li>
                <li><a href="/deciderCondamnation">Condamnation</a></li>
                <li><a href="/deciderReductionPeine">Reduction de peine</a></li>
                <li><a href="/deciderLiberationDefinitive">Liberté définitive</a></li>
                <li><a href="/preventive">Prisonniers en préventive</a></li>
            </ul>
        </nav>
    </header>

    <body>
        <form action="" method="post">
          <div>
            <label for="n_ecrou">Numero Detenu :</label>
            <input type="number" min="0" max="9999" required id="n_ecrou" name="n_ecrou">
          </div>
          <div>
            <label for="prenom">Prenom :</label>
            <input type="text" required id="prenom" name="prenom">
          </div>
          <div>
            <label for="nom">Nom :</label>
            <input type="text" required id="nom" name="nom">
          </div>
          <div>
            <label for="date_naissance">Date de naissance :</label>
            <input type="date" required id="date_naissance" name="date_naissance">
          </div>
          <div>
            <label for="n_ecrou">Lieu de naissance :</label>
            <input type="text" required id="lieu_naissance" name="lieu_naissance">
          </div>
          <input type="submit" value="Envoyer" />
        </form>
    </body>

</html>
