<html>
    <head>
      <title>Choix d'une affaire</title>
      <link rel="stylesheet" href="../css/menu.css">
      <link rel="stylesheet" href="../css/style.css">
    </head>
    <header>
        <nav>
            <ul id="menu">
                <li><a href="/incarcerer">Incarcérer un prisonnier</a></li>
                <li><a href="/deciderCondamnation">Condamnation</a></li>
                <li><a href="/deciderReductionPeine">Reduction de peine</a></li>
                <li><a href="/deciderLiberationDefinitive">Liberté définitive</a></li>
                <li><a href="/preventive">Prisonniers en préventive</a></li>
            </ul>
        </nav>
    </header>

    <body>
        <h1>Créer une affaire</h1>
        <form action="newAffaire" method="post">
          <div>
            <label for="n_affaire">Numero affaire :</label>
            <input type="number" required min="0" max="99" id="n_affaire" name="n_affaire">
          </div>
          <div>
            <label for="nom_juridiction">Nom de la juridiction :</label>
            <input type="text" required id="nom_juridiction" name="nom_juridiction">
          </div>
          <div>
            <label for="date_faits">Date du fait:</label>
            <input type="date" required id="date_faits" name="date_faits">
          </div>
          <input type="submit" value="Envoyer" />
        </form>
    </body>
</html>
